@page "/employee/create"

<h3>CeateEmployee</h3>
@rendermode InteractiveServer


<EditForm OnValidSubmit="Submit" Model="model">
	<div class="container">
		<div class="row mb-3">
			<div class="md-col-6">
				<label>Employee Name</label>
				<InputText class="form-control" @bind-Value="Model.employeeName" />
				<ValidationMessage For="()=> Model.employeeName" />
			</div>
			<div class="md-col-6">
				<label>Department</label>
				<InputSelect class="form-control" @bind-Value="Model.departmentID">
					<option value="0">-- Choose a department --</option>
					@foreach (var d in departmentModel)
					{
						<option value="@d.id">@d.departmentName</option>
					}
				</InputSelect>
				<ValidationMessage For="()=> Model.departmentID" />
			</div>
		</div>
		<button class="btn  btn-secondary" type="Submit">Save</button>
	</div>
</EditForm>